    <!-- Navigation Bar -->
    <nav>
        <div class="nav-title">
            <!-- <span class="Icon Icon--logo Icon--large"></span> -->

            <!-- Link in web -->
            <a class="home-link" href="#">Minh Gau Gau 💕 Mai Ca</a>

            <!-- Text in mobile -->
            <p class="home-text">Minh Gau Gau 💕 Mai Ca</p>
            <span id="caret" class="Icon Icon--caretDown"></span>
        </div>
        <ul class="nav-menu">
            <!-- This link only exists in mobile -->
            <li id="extra-mobile-link" class="nav-list-item">
                <a class="nav-link" href="{{ .Site.BaseURL }}">Home</a>
            </li>

            <li class="nav-list-item list-end">
                <a class="nav-link" href="https://github.com/ferez96/minhgaugau" target="_blank">GitHub</a>
            </li>
        </ul>
    </nav>

